# Ignore uploads folder and its contents (images, documents, etc.)
app/api/uploads/
files/

# Common Python ignores
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
.env
.env.*
venv/
.venv/

# Ignore environment and settings files

# VSCode settings
.vscode/
sendgrid.env
