<dx-scheduler
  timeZone="America/Los_Angeles"
  [dataSource]="dataSource"
  [views]="['month']"
  currentView="month"
  [currentDate]="currentDate"
  [firstDayOfWeek]="1"
  [startDayHour]="8"
  [endDayHour]="18"
  [showAllDayPanel]="false"
  [height]="710"
  [editing]="false"
  [textExpr]="'displayMessage'"
  appointmentTemplate="appointmentTemplate"
>
<div *dxTemplate="let model of 'appointmentTemplate'">
  <div 
    class="custom-appointment"
    [style.backgroundColor]="model.appointmentData.color"
    [style.color]="'#ffffff'"
    [style.borderRadius]="'4px'"
  >
    <b>{{ model.appointmentData.employeeName || 'No Name' }}</b><br />
    <small>
      {{ model.appointmentData.formattedStartDate }} - {{ model.appointmentData.formattedEndDate }}
    </small>
  </div>
</div>
</dx-scheduler>
