<div class="user-panel">
  <dx-drop-down-button
    *ngIf="menuMode !== 'list'"
    stylingMode="text"
    [template]="'userButtonTemplate'"
    [showArrowIcon]="false"
    [items]="menuItems"
    displayExpr="text"
    keyExpr="id"
    [elementAttr]="{class: 'user-button'}"
    [dropDownOptions]="{width: '150px'}">
    <div *dxTemplate="let data of 'userButtonTemplate'">
      <div class="user-image-container">
        <img 
          [src]="profileImageSrc" 
          class="user-image" 
          alt="User Profile" 
          (error)="handleImageError($event)"
        />
      </div>
    </div>
  </dx-drop-down-button>
  <dx-list
    *ngIf="menuMode === 'list'"
    displayExpr="text"
    keyExpr="id"
    width="130"
    [items]="menuItems">
  </dx-list>
</div>
